
<title>Google Icons</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<h1>About Page</h1>
<p><font size="4" color="blue">Đồ án sử dụng Ember.js để thiết kế ứng dụng quản lí danh bạ bao gồm họ tên, số điện thoại và email</font></p>
<p><i class="material-icons">computer</i> Thành viên nhóm bao gồm: </p>
<p><i class="material-icons">attachment</i>NGUYỄN THIỆN NHÂN</p>
<p><i class="material-icons">attachment</i>VŨ BẢO NGỌC</p>
<p><i class="material-icons">attachment</i>PHẠM THỊ THÚY VI</p>
<p><i class="material-icons">attachment</i>ĐẶNG LÊ HỮU THIỆN</p>
<p><i class="material-icons">attachment</i>PHAN VIẾT HẢI DUY</p>
<p><i class="material-icons">attachment</i>NGUYỄN QUỐC BẢO</p>